# PostgreSQL
POSTGRES_USER=verikyc_user
POSTGRES_PASSWORD=verikyc_dev
POSTGRES_DB=verikyc

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@verikyc
PGADMIN_DEFAULT_PASSWORD=pgadmin_dev

# Backend
BACKEND_PORT=8080
JWT_SECRET=jwt-secret-key
JWT_EXPIRY_MS=3600000

# CV Service
CV_SERVICE_PORT=8000