.env
# Terraform                                                                                                                           
.terraform/                                                                                                                           
.terraform.lock.hcl                                                                                                                   
*.tfstate                                                                                                                         
*.tfstate.backup
terraform.tfvars
crash.log
override.tf
override.tf.json